/* Aplica un reseteo universal para eliminar paddings y margins de todos los elementos y usar un border-box para el tamaño de las cajas*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Da estilo al elemento de body, con  */
body{
    height: 100vh;
    background: #393e46;
}

/* Estilo para el contenedor de la aplicacion principal*/
.app {
    font-family: "Poppins", sans-serif;
    width: min(95vw, 500px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1.875em;
}

/* Estilo para el contenedor de los inputs y ell boton de agregar tarea*/
.container{
    padding: 2em 2.5em;
    background-color: #f1f8fb;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    border-radius: 0.8em;
}

/* Estilo para el wrapper que contiene el campo de input y el boton */
#wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}

/* Estilo para el elemento de input dentro del wrapper*/
#wrapper input{
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 1em 0.5em;
}

/* Estilo para el input del elemento cuando es seleccionado */
#wrapper input:focus{
    outline: none;
    border-color: #5a95ff;
}

/* Estilo para el boton dentro del wrapper */
#wrapper button{
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size: 1em;
    background-color: #5a95ff;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

/* Estilo para los contenedores de las tareas*/
#tasks{
    margin-top: 1em;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
}

/* Estilo para cada item de la tarea*/
.task{
    background-color: #ffffff;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 2em rgb(0, 0, 0, 0, 0.5);
    align-items: center;
    cursor: pointer;
}

/* Estilo para todas las tareas excepto la primera con top margin*/
.task:not(:first-child){
    margin-top: 1em;
}

/* Estilo de las checkboxes dentro de las tareas*/
.task input[type="checkbox"]{
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}

/* Estilo de las checkboxes antes de ser marcadas*/
.task input[type="checkbox"]:before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Estilo para las checkboxes cuando son marcadas*/
.task input[type="checkbox"]:checked {
    background-color: #5a95ff;
    border-color: #5a95ff;
}

/* Estilo para los pseudo elementos de las checkbox */
.task input[type="checkbox"]:checked:before {
    position: absolute;
    content: "\f00c";
    color: #ffffff;
    font-size: 0.8em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* Estilo para el nombre del texto de la tarea*/
.task span{
    font: 0.9em;
    font-weight: 400;
    word-break: break-all;
}

/* Estilos para los botones dentro de las tareas*/
.task button{
    color: #ffffff;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Estilo para el boton de editar*/
.edit {
    background-color: #5a95ff;
}

/* Estilo para el boton de eliminar*/
.delete {
    background-color: #ff5c5c;
}

/* Estilo para el contador de tareas*/
#pending-tasks span{
    color: #5a95ff;
}

/* Estilo para tareas completadas*/
.completed{
    text-decoration: line-through;
    color: #a0a0a0;
}

/* Estilo para el mensaje de error*/
#error{
    text-align: center;
    background-color: #ffffff;
    color: #ff5c5c;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.8em;
    display: none;
}